* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
}

:root {
    --primary-color: #FF8A65;
    --secondary-color: #FF7043;
    --bg: #F5F7F8;
    --primary-text-color: #263238;
    --secondary-text-color: #607D8B;
    --button-color: #DBE2E5;
    --button-color-hover: #C4CED4;
}

.dark-mode {
    --primary-color: #D95F39;
    --secondary-color: #FF7043;
    --bg: #13191C;
    --primary-text-color: #ECEFF1;
    --secondary-text-color: #90A4AE;
    --button-color: #29353B;
    --button-color-hover: #37474F;
}

::selection {
    background-color: var(--primary-color);
    color: var(--bg);
}

body {
    background-color: var(--bg);
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
}

/* Navbar */
nav {
    width: 100vw;
    height: 85px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 2rem;
    color: var(--primary-text-color);
    align-self: center;
}

nav .link-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav .link-group a {
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
    color: var(--primary-text-color);
}

nav .link-group a:hover {
    color: var(--secondary-text-color);
    transition: color .3s;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

header h1 {
    margin: 0 auto;
    font-size: 5rem;
    line-height: 80px;
    text-align: center;
    color: var(--primary-text-color);
}

header p {
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 80px;
    color: var(--primary-text-color);
}

.button-group {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.button-group button {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-text-color);
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-color);
    cursor: pointer;
    user-select: none;
}

.button-group button:hover {
    box-shadow: 0px 0px 25px 5px var(--button-color-hover);
    background-color: var(--button-color-hover);
    transition: .3s;
}

.select-bar {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.select-bar img {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: var(--button-color);
    cursor: pointer;
}

.select-bar img:hover {
    box-shadow: 0px 0px 25px 5px var(--button-color-hover);
    background-color: var(--button-color-hover);
    transition: .3s;
}

.bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -2;
}

.bg .shape {
    position: absolute;
    bottom: 0;
    width: 1750px;
    height: 1750px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: .5;
    z-index: -1;
}

.bg .blue {
    left: 0;
    background: rgb(40, 53, 147);
    background: radial-gradient(circle, rgba(40, 53, 147, 1) 0%, rgba(121, 134, 203, 1) 100%);
    transform: translate(-50%, 50%);
}

.bg .red {
    right: 0;
    background: rgb(198, 40, 40);
    background: radial-gradient(circle, rgba(198, 40, 40, 1) 0%, rgba(239, 83, 80, 1) 100%);
    transform: translate(50%, 50%);
}

.bg img {
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 0;
}

.bg .left {
    left: -200px;
    bottom: -200px;
    transform: scaleX(-1) rotate(-45deg);
}

.bg .right {
    right: -200px;
    bottom: -200px;
    transform: rotate(-45deg);
}